* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background-color: #edf4f4;
  position: sticky;
}

.header__ul {
  padding: 1rem;
  font-size: 1.1em;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}
.header__ul a,
.header__ul a:visited {
  color: #333;
  text-decoration: none;
}
.header__ul a:hover,
.header__ul a:focus {
  color: cadetblue;
}

.header__h1 {
  height: 20px;
  background-color: #555;
}

body {
  height: 100vh;
  background-color: cadetblue;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-align: center;
}
