*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: cadetblue;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-align: center;
}

header, footer {
  position: sticky;
}

.main__h1,
.main__h2 {
  color: #edf4f4;
}

.main__h1 {
  letter-spacing: 0.4rem;
  font-size: 2em;
}

.main__h2{
font-size: 1.3em;
}

.header {
  background-color: rgb(237, 244, 244);
}

.header__ul {
  padding: 1rem;
  font-size: 1.1em;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}
.header__ul a,
.header__ul a:visited {
  color: #152323;
  text-decoration: none;
}
.header__ul a:hover,
.header__ul a:focus {
  color: cadetblue;
}

.header__h1 {
  height: 20px;
  background-color: #152323;
}

/* .down-arrow {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 25px solid rgb(95, 158, 160);
  background-color: #152323;
  position: absolute;
  left: 50%;
  bottom: 5px;
  margin-left: -25px;
  } */

  .footer__h3 {
    background-color: rgba(95, 158, 160, 0);
    font-size: 5.5rem;
    color:rgb(237, 244, 244, 0.1);
    padding-bottom: 2.1em;
    /* padding-top: 0.5em; */
    letter-spacing: 0.1rem;
    font-family: serif;
    animation: showHello 1.5s ease-in-out 0s forwards;
  }

  @keyframes showHello {
    0% {
      translate: -1000px;
    }
    80% {
      translate: 5px;
    }
    100% {
      translate: 0;
    }
  }

  header, nav, main, footer {
    width: 100%;
  }

@media screen and (min-width: 480px) {
    .footer__h3 {
      /* font-size: 5.5rem; */
      padding-bottom: 1.8em;
    }
  }

  /* @media screen and (max-height: 667px) {
    .down-arrow {
      display: none;
    }
  } */
