*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  position: relative;
  background-color: cadetblue;
  font-family: Arial, Helvetica, sans-serif;
  /* border-bottom: 40px solid #333; */
}

.main__h1,
.main__h2 {
  text-align: center;
  color: #edf4f4;
}

.main__h1 {
  letter-spacing: 0.4rem;
  font-size: 3em;
}

.main__h2{
font-size: 1.3em;
}

.header {
  background-color: rgb(237, 244, 244);
}

.header__ul {
  padding: 0.7rem;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}
.header__ul a,
.header__ul a:visited {
  color: #152323;
  text-decoration: none;
}
.header__ul a:hover,
.header__ul a:focus {
  color: cadetblue;
}

main {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer__h1 {
  height: 30px;
  background-color: #152323;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.down-arrow {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 25px solid rgb(95, 158, 160);
  background-color: #152323;
  position: absolute;
  left: 50%;
  bottom: 5px;
  margin-left: -25px;
  }

  .footer__h3 {
    background-color: rgba(95, 158, 160, 0);
    font-size: 3.5rem;
    color:rgb(237, 244, 244, 0.1);
    padding-bottom: 1.4em;
    /* position: absolute; */
    /* left: 50%; */
    letter-spacing: 0.1rem;
    text-align: center;
    /* text-shadow: 2px 2px 5px gray; */
/*     position: absolute; */
    /* bottom: -220px;
    left: -2000px; */
    font-family: serif;
    animation: showHello 1.5s ease-in-out 0s forwards;
/*     z-index: -1; */
  }

  @keyframes showHello {
    0% {
      translate: -1000px;
    }
    80% {
      translate: 5px;
      /* scale: 120%; */
    }
    100% {
      translate: 0;
      /* scale: 100%; */
    }
  }

  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

@media screen and (min-width: 481px) {
    .footer__h3 {
      font-size: 5.5rem;
    }
  }
